/*框架流体布局的padding，暂时先去掉，有问题再修改回来*/
.layui-fluid{padding:0;}

/*鼠标点击有文字效果*/
.text-popup {
  animation: textPopup 1s;
  color: #FFD100;
  user-select: none;
  white-space: nowrap;
  position: absolute;
  z-index: 99;
}
@keyframes textPopup {
  0%, 100% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  100% {
    transform: translateY(-50px);
  }
}
/*导航 样式开始*/
#nav{position: relative;height: 100%;margin:0 70px;}
#nav > .logo{position: absolute;top:19px;left:0;}
#nav > .menuBox{height: 56px;}
#nav > .menuBox > ul.menu{margin-left:300px;width:660px;height: 56px;display: inline-block;}
#nav > .menuBox > ul.menu > li{float: left;height: 56px;line-height: 56px;padding: 0 24px;}
/*导航样式结束*/
#nav > .menuBox > ul.menu > li i{position: absolute;top:13px;width:32px;height:56px;background: url("../images/icon/more.svg") no-repeat;}
/*轮播图自定义样式*/
#lunbo{margin-top:20px;}
#lunbo img{border-radius: 4px;width:1130px;}

/*广告位*/
.flex{display: flex;justify-content: space-between;border-radius: 4px;margin-bottom: 20px;}
.flex img{width: 210px;height:168px;border-radius: 4px;transition:1s transform;}
.flex > .gaw {position: relative;overflow: hidden;margin-bottom: 25px;}
.flex > .gaw img:hover{transform: rotate(15deg) scale(1.5);}

/*导航*/
.nav-container{position: relative;height:56px;}
.nav-container > img{float: right;position: relative;  bottom:28px;}
.nav-container > ul {  display: flex;  position: absolute;  top: 50%;  left: 50%;
                  transform: translate(-50%, -50%);}
.nav-container > ul.subnav li {  position: relative;  padding:20px 20px;  font-size: 16px;
                        line-height: 1;  transition: 0.2s all linear;  cursor: pointer;  }
.nav-container > ul.subnav li a{color: #999;}
.nav-container > ul.subnav li a.active{color: #282828;}
.nav-container > ul.subnav li a:hover{color: #282828;}
.nav-container > ul.subnav li::before {  content: "";  position: absolute;  top: 0;  left: 100%;
                    width: 0;  height: 100%;  border-bottom: 2px solid #000;  transition: 0.2s all linear;  }

.nav-container > ul.subnav li:hover::before {  width: 100%;  top: 0;  left: 0;  transition-delay: 0.1s;
                         border-bottom-color: #000;  z-index: -1;  }

.nav-container > ul.subnav li:hover ~ li::before {  left: 0;  }

.nav-container > ul.subnav li:active {  background: #FFD100;  color: #fff;}

/*首页推荐*/
/*背景颜色(流体)*/
#main{background: #F4F4F4;height: 2756px;padding-top: 25px;}
/*回到顶部*/
#main > .toTop{height:50px;width:50px;float:right;position: fixed;cursor: pointer;right:3%;top:90%;
              z-index: 5;background-color: #ddd;border-radius: 8px;}
#main > .toTop img{position: absolute;left: 50%;top:50%;margin-top:-34%;margin-left:-34%;}

/*卡片公共样式*/
#main .work_box > .cardBox >.cardInfo > .card-info-title >.title-content,
#main .isLike > .work-type2Box > .card-type2Box > .card-type2Title > .card-type2-title{
                          display: inline-block;float: left;overflow: hidden;vertical-align: middle;
                        white-space: nowrap;text-overflow: ellipsis;}
#main .work_box>.cardBox>.cardInfo > .card-info-item span::before{  content: "";  display: inline-block;
                                      width: 19px;height: 16px;vertical-align: top;margin-right: 6px;}

/*卡片盒子样式*/
#main .work_box>.cardBox{transition: 1s all;}
#main .work_box>.cardBox>.cardImg img{border-radius: 4px 4px 0 0;}
#main .work_box>.cardBox>.cardImg{position: relative;}
/*遮罩层样式(公共的)*/
.mask{position: absolute;left: 0;right: 0;top: 0;height: 100%;background:#fff;opacity: 0;transition: 1s opacity;}
#main .work_box>.cardBox>.cardImg:hover .mask{opacity: 0.3;}
#main .work_box>.cardBox>.cardImg~div{background: white;}
#main .work_box>.cardBox>.cardInfo{position: relative;border-bottom: 1px solid #eee;padding: 11px 16px 13px;
                          height: 75px;}
.work_box>.cardBox>.cardInfo > .card-info-title{margin-bottom: 1px;position: relative;height: 20px;line-height: 20px;}
#main .work_box>.cardBox>.cardInfo > .card-info-type{font-size: 12px;color: #bbb;margin-bottom:17px;
                                    height: 18px; }
#main .work_box>.cardBox>.cardInfo > .card-info-item{font-size: 12px;color: #bbb;position: absolute;bottom: 14px;}
#main .work_box>.cardBox>.cardInfo > .card-info-item span{margin-right: 10px;cursor: default;}
#main .work_box>.cardBox>.cardInfo > .card-info-item span:nth-child(1)::before{
                            background: url("../images/icon/guanzhu2.png") 0 -3px no-repeat;background-size: 19px auto;}
#main .work_box>.cardBox>.cardInfo > .card-info-item span:nth-child(2)::before{
                            background: url("../images/icon/commit3.png") -2px -3px no-repeat;  background-size: 19px auto;}
#main .work_box>.cardBox>.cardInfo > .card-info-item span:nth-child(3)::before{
                            background: url("../images/icon/zan3.png") 0 -3px no-repeat;  background-size: 19px auto;}
#main .work_box>.cardBox>.cardItem{height: 50px;line-height: 50px;padding: 0 16px;font-size: 12px;position: relative;}
#main .work_box>.cardBox>.cardItem>.user-avatar{width:120px;display: inline-block;
                        white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
#main .work_box>.cardBox>.cardItem>.time{float: right;}
#main .work_box>.cardBox>.cardItem>.user-avatar img{width: 24px;height: 24px;border-radius: 50%;margin-right:10px;}

/*分页样式*/
#fenye{text-align: center;}
#fenye .layui-laypage a,#fenye .layui-laypage span{padding:0 19px;height:41px;line-height: 41px;margin-right: 7px;
                                border-radius: 8px; color: #bbb;  font-size: 17px;}
#fenye .layui-laypage a:hover{background: #FFB800;}
/*长广告位*/
#main .longag{height: 100px;width: 1130px;margin-top:30px;}
@media screen and (max-width: 1600px){
  #main .longag img{height: 100px!important;width: 1130px!important;}
}

/*猜你喜欢*/
#main .isLike>.likeText{min-height: 14px;line-height: 14px;margin: 20px 0;color: #666;position: relative;}
#main .isLike>.likeText>span{float: right;}
#main .isLike>.likeText>span a{color: #eb7350;}
#main .isLike>.work-type2Box>.card-type2Box>.card-type2Img{position: relative;}
/*遮罩层*/
#main .isLike>.work-type2Box>.card-type2Box>.card-type2Img:hover .mask{opacity: 0.3;}
#main .isLike>.work-type2Box>.card-type2Box>.card-type2Title{padding: 12px 16px;background: white;
                                                            display: flex;justify-content: space-between;}
#main .isLike>.work-type2Box>.card-type2Box>.card-type2Title>.card-type2-title{width:164px;}

/*推荐的小火焰*/
#main .fire{width: 16px;height: 16px;display: inline-block;background-repeat: no-repeat;
                                          background-size: auto 16px;background-position: center;}
#main .fire{background: url("../images/icon/fire.png") no-repeat;}


/*footer样式*/
#footer{width:100%;height:229px;background: #282828;position: absolute;bottom: 0;color:#666;}